body {
  margin: 0;
}

.TodoItem-wrapper {
  background: #333;
  padding: 10px;
  border-bottom: 2px solid #888;
  display:  flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.TodoItem-wrapper p{
  margin-left: 10px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
}